.detailOfOrder{
    height: 90%;
    width: 55%;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    
}

span{
    font-weight: bold;
    font-size: xx-large;
    color: rgb(22, 47, 85);
}

table{
    margin: auto;
    width: 90%;
    text-align: right;
}

tr{
    border: 1px solid black;
    height: 40px;
}

tr:nth-child(even)
{
    background-color: rgb(243, 224, 224);
}

tr:nth-child(odd)
{
    background-color: rgb(241, 197, 197);
}

td{
    padding-right:10px;
    color: rgb(22, 47, 85);
}


td:nth-child(1){
    width: 45%;
}

button{
    position: relative;
    width:35%;
    font-size: large;
    margin: 6px;
    position: relative;
    right: 50%;
    transform: translateX(50%);
}

.detailTitle{
    font-weight: bold;
}