<div style='height: 100%; width: 100%;'>
    <div *ngIf='myUser' dir='rtl' class='signUpDiv'>
        <form #formInfo='ngForm'>
            <h3 style='font-weight: bold; text-align:center;'>שנה סיסמא</h3>
            <br>
            <span  style='margin: 10px; font-size: large; position: relative;'>סיסמא נוכחית: </span>
            <input (input)='compareNewPassword()' [(ngModel)]='currentPassword' name='current' required type='password' style='margin: 10px; font-size: large; position: relative; width: 40%;' class='form-control'>
            <br>
            <span  style='margin: 10px; font-size: large; position: relative;'>סיסמא חדשה: </span>
            <input (input)='compareNewPasswords()' [(ngModel)]='newPassword' name='new' required type='password' style='margin: 10px; font-size: large; position: relative; width: 40%;' class='form-control'>
            <br>
            <span  style='margin: 10px; font-size: large; position: relative;'>אמת סיסמא: </span>
            <input (input)='compareNewPasswords()' [(ngModel)]='confirmPassword' name='confirm' required type='password' style='margin: 10px; font-size: large; position: relative; width: 40%;' class='form-control'>
            <br><br>
            <button *ngIf='loadPage' (click)='changePassword()'  [disabled]='formInfo.form.invalid || !matchingNewPasswords || !matchingCurrentPassword' style='width: 75%; position: relative; margin-right: 10px; margin-bottom: 5px; right: 50%; transform: translateX(50%);' class='form-control'>שנה סיסמא</button>
            <img *ngIf='!loadPage' src="/assets/images/loading2.gif" style="position: relative; right: 50%; transform: translateX(50%); height: 70px;">
        </form>
        
    </div>
</div>