<div dir='rtl' style="margin-top: 10px; margin-bottom: 5px; height: 25%; width: 100%; background-color: rgba(255, 255, 255, 0.8);">
    <h3 style='color: rgb(22, 47, 85);'>{{branch.city}}</h3>
    <div style='text-align: right; color: rgb(22, 47, 85);'>
        <span style='font-weight: bold;'>שם הסניף: </span><span>{{branch.name}}</span>
        <br>
        <span style='font-weight: bold;'>כתובת: </span><span>{{branch.address}}</span>
        <br>
        <span style='font-weight: bold;'><a target="_blank" href='https://www.google.com/maps?q={{branch.latitude}},{{branch.longitude}}&hl=iw'>פתח במפה</a></span>
    </div>
</div>