<div style='height: 10%;'>
    <section>
        
        <main>
            <a routerLink="/cars/yourCars" routerLinkActive='active'>
                <div class='menu'>
                    <span>רכבים שהתעניינת בהם</span>
            </div>
            </a>
        </main>

        <main>
            <a routerLink="/cars/carSearch" routerLinkActive='active'>
                <div class='menu'>
                        <span >חפש רכב</span>
                </div>
            </a>
            
        </main>
    </section>
</div>

<div style='height: 90%;'>
    <router-outlet></router-outlet>
</div>
